.container {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .column-wrapper {
    display: inline-block;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    margin: 0 24px;
    padding: var(--space-8x) 0 0;
    border-bottom: 1px solid var(--accents-7);
    width: 100%;
  }
  
  .stage-name {
    color: #fff;
    line-height: 1.15;
    letter-spacing: -0.05em;
    font-weight: 800;
    min-width: 220px;
    padding-bottom: var(--space-2x);
    position: absolute;
    left: initial;
    color: var(--brand);
  }
  
  .talks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }
  
  .talks > div {
    margin-right: 24px;
  }
  
  @media (min-width: 500px) {
    .container {
      border-top: 1px solid var(--accents-7);
      margin-top: var(--space-4x);
    }
  
    .column {
      margin: 0 var(--space-8x) 0 0;
      flex-direction: column;
      padding: var(--space-8x) 0;
    }
  
    .talks {
      flex-direction: column;
      margin-top: 0;
    }
  
    .stage-name {
      position: sticky;
      left: 0;
      padding-left: var(--space-8x);
      z-index: 1;
    }
  }